name: Deploy backend

on:
  push:
    branches:
      - main
    paths:
      - api/**
      - .github/workflows/api-deploy.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  api:
    name: Deploy API
    runs-on: ubuntu-latest
    environment: api

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Fly.io CLI
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy to Fly.io
        run: flyctl deploy --remote-only
        working-directory: api/
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_DEPLOY_TOKEN }}
