name: ci

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]

jobs:
  api-tests:
    name: API Testing
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv and Python
        uses: astral-sh/setup-uv@v1
        with:
          python-version: "3.12"
          enable-cache: true

      - name: Change to API directory
        run: cd api

      - name: Sync dependencies with uv
        run: uv sync --frozen

      - name: Run Pytest
        run: uv run pytest
