name: ci

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]

jobs:
  api-tests:
    name: API Testing
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Set up Python
        run: uv python install
        working-directory: api/

      - name: Sync dependencies with uv
        run: uv sync --locked --all-extras --dev
        working-directory: api/

      - name: Run Pytest
        run: uv run pytest
        working-directory: api/
